[submodule "config/public/wp-content/plugins/woocommerce-bitpay"]
	path = config/public/wp-content/plugins/woocommerce-bitpay
	url = git@github.com:openbitcoinstore/woocommerce-bitpay.git
[submodule "config/public/wp-content/plugins/woocommerce-btc-currency"]
	path = config/public/wp-content/plugins/woocommerce-btc-currency
	url = git@github.com:openbitcoinstore/woocommerce-btc-currency.git
